.favorite--card--btn{
    position: absolute;
    top: 20px;
    right: 22px;
    background-color: transparent;
    border-style: none;
    height: 18px;
    width: 22px;

}

.favorite--icon {
    fill: #f1f1f1;
    cursor: pointer;
    transition: fill 0.5s ease;
}

.favorite--icon.favorite--icon--active {
    fill: #c84141;
    cursor: pointer;
}