.dishes {
    position: relative;
    text-align: center;
    height: 825px;
    width: 1247px;
    margin: 0 auto;
    border-top: 1px solid #CBCBCB;
    border-bottom: 1px solid #CBCBCB;
    padding-block: 30px;
}

.dishes-menu {
    height: 741px;
    padding-block: 120px 30px;
}


.dishes__card--conteiner {
    display: grid;
    grid-template-columns: repeat(5, minmax(224px, 1fr));
    gap: 30px;
    margin-block: 50px 120px;
}


